<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV SHOWS</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div id="wrapper">
        <a href="/">Go Back</a>
        <h1>TV Show {{request.session.id}}</h1>
        <p>Title: {{request.session.title}}</p>
        <p>Network: {{request.session.network}}</p>
        <p>Release Date: {{request.session.release_date}}</p>
        <p>Description: {{request.session.description}}</p>
        <p>Last Updated: {{request.session.updated_at}}</p>
        <a href="/shows/{{request.session.id}}/edit">Edit</a> | <a href="/shows/{{request.session.id}}/destroy">Delete</a>
    </div>
</body>

</html>